{% load static %}

<header class="h-[80px] shadow-md">
    <section class="wrapper h-full flex justify-between items-center">
        <div>
            <h1><a href="{% url 'web:index' %}"><img src="{% static 'web/images/logo.png' %}" alt="logo" class="w-[90px]"></a></h1>
        </div>
        <div class=" hidden md:block">
            <ul class="flex justify-center">
                <li class="mr-7 "><a class="flex justify-start items-center text-[20px]" href="{% url 'web:index' %}"><img src="{% static 'web/images/home.png' %}" alt="image" class="w-[18px] mr-2">Home</a></li>
                <li class="mr-7 "><a class="flex justify-start items-center text-[20px]" href="#"><img src="{% static 'web/images/search.png' %}" alt="image" class="w-[18px] mr-2">Search</a></li>
                <li class="mr-7 "><a class="flex justify-start items-center text-[20px]" href="{% url 'web:cart' %}"><img src="{% static 'web/images/bag.png' %}" alt="image" class="w-[18px] mr-2">Cart</a></li>
                <li><a class="flex justify-start items-center text-[20px]" href="{% url 'web:account' %}"><img src="{% static 'web/images/user.png' %}" alt="image" class="w-[18px] mr-2">Account</a></li>
            </ul>
        </div>
        <div class=" flex justify-end items-center">
            <a href="https://www.google.com/maps/place/Valanchery,+Kerala+676552/@10.8861438,76.0530061,15z/data=!3m1!4b1!4m6!3m5!1s0x3ba7b6328c091e7b:0x8b642b0d66d70d05!8m2!3d10.8877717!4d76.0732189!16s%">
                <img src="{% static 'web/images/map.png' %}" alt="map" class="w-[18px] mr-3">
            </a>
            <p class=" text-16px] font-semibold pb-1 border-b-2 border-yellow-400 mr-4">Valanchery, Malappuram</p>
            <a href="{% url 'web:logout' %}" class="p-2 bg-[#e71919] rounded-full">
                <img src="{% static 'web/images/logout.png' %}" alt="image" class="w-[16px]">
            </a>
        </div>
    </section>
</header>